{% schema %}
  {
    "name": "Main homepage slider",
    "tag": "section",
    "class": "section section-slideshow",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "label": "t:sections.all.grid_layout.options_1.label"
          },
          {
            "label": "t:sections.all.grid_layout.options_2.label"
          }
        ],
        "default": "full_bleed",
        "label": "t:sections.all.grid_layout.label"
      },
      {
        "type": "select",
        "id": "slide_height",
        "options": [
          {
            "label": "t:sections.slideshow.settings.slide_height.options__1.label"
          },
          {
            "label": "t:sections.slideshow.settings.slide_height.options__2.label"
          },
          {
            "label": "t:sections.slideshow.settings.slide_height.options__3.label"
          }
        ],
        "default": "medium",
        "label": "t:sections.slideshow.settings.slide_height.label"
      },
      {
        "type": "select",
        "id": "slide_height_mobile",
        "options": [
          {
            "label": "t:sections.slideshow.settings.slide_height_mobile.options__1.label"
          },
          {
            "label": "t:sections.slideshow.settings.slide_height_mobile.options__2.label"
          },
          {
            "label": "t:sections.slideshow.settings.slide_height_mobile.options__3.label"
          }
        ],
        "default": "adapt_image_mobile",
        "label": "t:sections.slideshow.settings.slide_height_mobile.label"
      },
      {
        "type": "checkbox",
        "id": "auto_rotate",
        "label": "t:sections.slideshow.settings.auto_rotate.label",
        "default": false
      },
      {
        "type": "range",
        "id": "change_slides_speed",
        "min": 3,
        "max": 9,
        "step": 2,
        "unit": "s",
        "label": "t:sections.slideshow.settings.change_slides_speed.label",
        "default": 5
      },
      {
        "type": "checkbox",
        "id": "enable_pagination_desktop",
        "label": "t:sections.slideshow.settings.enable_pagination.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_navigation_desktop",
        "label": "t:sections.slideshow.settings.enable_navigation.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "preload",
        "label": "t:sections.slideshow.settings.preload.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.slideshow.settings.mobile.content"
      },
      {
        "type": "checkbox",
        "id": "show_text_below",
        "label": "t:sections.slideshow.settings.show_text_below.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_pagination_mobile",
        "label": "t:sections.slideshow.settings.enable_pagination.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_navigation_mobile",
        "label": "t:sections.slideshow.settings.enable_navigation.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.slideshow.settings.accessibility.content"
      },
      {
        "type": "text",
        "id": "accessibility_info",
        "label": "t:sections.slideshow.settings.accessibility.label",
        "info": "t:sections.slideshow.settings.accessibility.info",
        "default": "Slideshow about our brand"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "t:sections.slideshow.blocks.slide.name",
        "limit": 10,
        "settings": [
          {
            "label": "t:sections.slideshow.blocks.slide.settings.image.label"
          },
          {
            "label": "t:sections.slideshow.blocks.slide.settings.mobile_image.label"
          },
          {
            "label": "t:sections.slideshow.blocks.slide.settings.badge_label.label"
          },
          {
            "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
          },
          {
            "default": "h0"
          },
          {
            "label": "t:sections.slideshow.blocks.slide.settings.text.label"
          },
          {
            "default": false
          },
          {
            "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
          },
          {
            "info": "t:sections.slideshow.blocks.slide.settings.price.info"
          },
          {
            "label": "t:sections.slideshow.blocks.slide.settings.link.label"
          },
          {
            "default": "primary"
          },
          {
            "default": false
          },
          {
            "info": "t:sections.slideshow.blocks.slide.settings.box_align.info"
          },
          {
            "default": "left"
          },
          {
            "default": false
          },
          {
            "default": "full"
          },
          {
            "default": "left"
          },
          {
            "default": 0
          },
          {
            "content": "t:sections.slideshow.settings.mobile.content"
          },
          {
            "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.label"
          },
          {
            "content": "t:settings_schema.colors.name_on_desktop"
          },
          {
            "label": "t:sections.slideshow.blocks.slide.settings.colors_text.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.slideshow.presets.name",
        "blocks": []
      }
    ]
  }
{% endschema %}
{%-liquid
  assign need_preload = section.settings.preload
  if section.index == 1 and section.location != 'footer'
    assign need_preload = true
  endif
-%}
{%- capture direction -%}{%- render 'direction' -%}{%- endcapture -%}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag: preload: need_preload }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag: preload: need_preload }}
<style>
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
  {%- if section.blocks.size > 0 -%}
    .slideshow-component-{{ section.id }} .slideshow.banner {
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0;
      gap: 0;
    }

    {%- if section.settings.slide_height_mobile == 'adapt_image_mobile' -%}
      {%- if section.blocks.first.settings.image != blank or section.blocks.first.settings.mobile_image != blank -%}
        {%- assign aspect_ratio_mobile = section.blocks.first.settings.mobile_image.aspect_ratio | default: section.blocks.first.settings.image.aspect_ratio -%}
        @media screen and (max-width: 749px) {…}
      {%- endif -%}  
    {%- endif -%}
    {%- assign styles_mobile = '' -%}
    {%- for block in section.blocks -%}
      #Slide-{{ section.id }}-{{ forloop.index }} .banner__media::after {
        opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
      }
      {%- capture styles_block_mobile -%}
      #Slide-{{ section.id }}-{{ forloop.index }} {
        --color-foreground: {{ block.settings.colors_text_mobile.red }}, {{ block.settings.colors_text_mobile.green }}, {{ block.settings.colors_text_mobile.blue }};
        --gradient-background: {{ block.settings.colors_background_mobile }};
        {%- if block.settings.gradient_heading_mobile != blank -%}--gradient-heading: {{ block.settings.gradient_heading_mobile }};{%- endif -%}
        {%- if block.settings.starting_price != blank and block.settings.starting_price_label != blank -%}
        --color-highlight: {{ block.settings.colors_button_mobile.red }}, {{ block.settings.colors_button_mobile.green }}, {{ block.settings.colors_button_mobile.blue }};
        {%- endif -%}
        {%- if block.settings.button_style == 'link' -%}
          --color-link: {{ block.settings.colors_button_mobile.red }}, {{ block.settings.colors_button_mobile.green }}, {{ block.settings.colors_button_mobile.blue }};
        {%- else -%}  
          {%- endunless -%}
        {%- endif -%}
        --color-badge-foreground: {{ block.settings.colors_badge_foreground_mobile.red }}, {{ block.settings.colors_badge_foreground_mobile.green }}, {{ block.settings.colors_badge_foreground_mobile.blue }};
        --color-badge-background: {{ block.settings.colors_badge_background_mobile.red }}, {{ block.settings.colors_badge_background_mobile.green }}, {{ block.settings.colors_badge_background_mobile.blue }};
      }
      {%- endcapture -%}
      {%- assign styles_mobile = styles_mobile | append: styles_block_mobile -%}
    {%- endfor -%}
    {%- if styles_mobile != '' -%}
    @media screen and (max-width: 749px) {
      {{ styles_mobile }}
    }
    {%- endif -%}    
    @media screen and (min-width: 750px) {
      {%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
      {%- endif -%}
      {%- for block in section.blocks -%}
        #Slide-{{ section.id }}-{{ forloop.index }} {…}
      {%- endfor -%}   
    }
  {%- endif -%}
</style>
<slideshow-component class="slideshow-component-{{ section.id }} por flex flex-column slider-mobile-gutter{% if section.settings.layout contains 'grid' %} page-width{% if section.settings.layout == 'stretched_grid' %}--full{% endif %}{% endif %}{% if section.settings.show_text_below %} mobile-text-below{% endif %} slider-component-full-width" role="region" aria-roledescription="{{ 'sections.slideshow.carousel' | t }}" aria-label="{{ section.settings.accessibility_info | escape }}">
  <div class="por">  
    <div class="slideshow banner banner--{{ section.settings.slide_height }} banner--{{ section.settings.slide_height_mobile }} grid grid--1-col slider slider--desktop slider--tablet slider--mobile slider--everywhere{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if section.blocks.first.settings.image == blank %} slideshow--placeholder{% endif %}"
      id="Slider-{{ section.id }}"
      aria-live="polite"
      aria-atomic="true"
      data-autoplay="{{ section.settings.auto_rotate }}"
      data-speed="{{ section.settings.change_slides_speed }}"
    >
      {%- for block in section.blocks -%}
        <div class="slideshow__slide slideshow__slide--{{ section.id }} grid__item grid--1-col slider__slide por flex gradient flex-column overflow-hidden{% if section.blocks.size == 1 %} active{% endif %}"
          tabindex="-1"
        >
        </div>
      {%- endfor -%}
    </div>

    {%- if section.blocks.size > 1 -%}
      {%- if section.settings.enable_pagination_desktop or section.settings.enable_navigation_desktop or section.settings.enable_pagination_mobile or section.settings.enable_navigation_mobile or section.settings.auto_rotate -%}
        <div class="slideshow__controls slideshow__controls--{{ section.id }} slider-buttons no-js-hidden flex align-center gradient slider-buttons--has-background card-radius">
        </div>
      {%- endif -%}

      <noscript>
        <div class="slider-buttons flex justify-center align-center">
        </div>
      </noscript>
    {%- endif -%}
  </div>  
</slideshow-component>
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>
  {{ 'component-rte.css' | asset_url | stylesheet_tag }}
</noscript>
{%- unless request.design_mode -%}
  <script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}