{{ 'manta-newsletter.css' | asset_url | stylesheet_tag }}

<section class="manta-newsletter__wrapper section-padding
  {% if section.settings.manta_newsletter_color_scheme != blank %}
    color-{{ section.settings.manta_newsletter_color_scheme }}
  {% endif %}"
  style="
    padding-top: {{ section.settings.manta_newsletter_padding_top }}px;
    padding-bottom: {{ section.settings.manta_newsletter_padding_bottom }}px;
  "
>
  <div class="page-width">
    <div class="manta-newsletter__grid">

      <div class="manta-newsletter__text-content">
        <h2 class="manta-newsletter__heading h3">
          {{ section.settings.manta_newsletter_heading | escape }}
        </h2>
        <div class="manta-newsletter__text subtitle--small">
          {{ section.settings.manta_newsletter_text }}
        </div>
      </div>

      <div class="manta-newsletter__form-wrapper">
        {% form 'customer', class: 'manta-newsletter__form' %}
          <input type="hidden" name="contact[tags]" value="newsletter">

          <div class="manta-newsletter__input-wrapper">
            <input
              id="NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              class="manta-newsletter__input"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              placeholder="Enter your email"
              required
            >
          </div>

          <button type="submit" class="manta-dark-button apex" name="commit" id="Subscribe-{{ section.id }}">
            Subscribe
          </button>

          {% if form.errors %}
            <small class="form__message alert alert--error alert--small" id="Newsletter-error--{{ section.id }}">
              {% render 'icon-error' %}
              {{ form.errors.translated_fields['email'] | capitalize }}
              {{ form.errors.messages['email'] }}
            </small>
          {% endif %}

          {% if form.posted_successfully? %}
            <h3 class="newsletter-form__message--success form__message alert alert--success alert--small" id="NewsletterSuccess--{{ section.id }}" tabindex="-1">
              {% render 'icon-success' %}
              Thank you for subscribing!
            </h3>
          {% endif %}
        {% endform %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Simple Newsletter",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "manta_newsletter_color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "text",
      "id": "manta_newsletter_heading",
      "label": "Heading",
      "default": "Stay in the loop"
    },
    {
      "type": "richtext",
      "id": "manta_newsletter_text",
      "label": "Subheading",
      "default": "<p>Be the first to know about new products and exclusive offers.</p>"
    },
    {
      "type": "range",
      "id": "manta_newsletter_padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "manta_newsletter_padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Simple Newsletter"
    }
  ]
}
{% endschema %}
