<style>
  #manta-spacer-bg-{{ section.id }} {
    height: {{ section.settings.height | times: 0.75 | round: 0 }}px;
    background-color: {{ section.settings.bg_color }};
  }

  @media screen and (min-width: 750px) {
    #manta-spacer-bg-{{ section.id }} {
      height: {{ section.settings.height }}px;
    }
  }
</style>

<section id="manta-spacer-bg-{{ section.id }}" class="spacer">
</section>

{% schema %}
{
  "name": "t:sections.spacer.name",
  "tag": "section",
  "class": "spacer",
  "settings": [
    {
      "type": "range",
      "id": "height",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.spacer.settings.height.label",
      "default": 36
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "t:sections.spacer.presets.name"
    }
  ]
}
{% endschema %}